<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>BloodBank Login</h1>
          <hr>
        </div>


        <form [formGroup]="adminLogin">
          <div class="mb-3">
            <label class="form-label" style=" font-weight:bold; color: #dc3545;">Email address</label>
            <input formControlName="adminemail" type="text" class="form-control" id="adminemail"
              aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label class="form-label" style=" font-weight:bold; color: #dc3545;">Password</label>
            <input formControlName="adminpassword" type="password" class="form-control" id="adminpassword">
          </div>
        </form>


        <button type="button" class="btn btn-primary" (click)="adminlogin()"
          style=" font-weight:bold; color:aliceblue; background-color: #dc3545; border-style: none; border-radius:5px;">Login</button>

<!--
        <br>
        <a routerLink="/signup" style=" font-weight:normal; color: #dc3545;">Don't have an account? SignUp</a>
-->
      </div>
    </div>
  </div>
</div>